<a href="https://colab.research.google.com/github/christopherfr/trabajofinalml/blob/main/Trabajo_final_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importamos el dataset

In [1]:
import pandas as pd

data = pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls', header = 1)
data.drop('ID', axis = 1, inplace = True) # Nos deshacemos de la columna ID ya que no es importante

In [2]:
data.head(10)

   LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT5  PAY_AMT6  default payment next month
0      20000    2          2  ...         0         0                           1
1     120000    2          2  ...         0      2000                           1
2      90000    2          2  ...      1000      5000                           0
3      50000    2          2  ...      1069      1000                           0
4      50000    1          2  ...       689       679                           0
5      50000    1          1  ...      1000       800                           0
6     500000    1          1  ...     13750     13770                           0
7     100000    2          2  ...      1687      1542                           0
8     140000    2          3  ...      1000      1000                           0
9      20000    1          3  ...      1122         0                           0

[10 rows x 24 columns]

#Información acerca del dataset

Lista de variables por tipo

In [3]:
print('Variables categóricas nominales:')
print('  - SEX\n  - MARRIAGE\n  - EDUCATION') # EDUCATION no la tratamos como ordinal porque no se conoce qué incluye la categoría 'others'
print('Variables discretas:')
print('  - PAY_0\n  - PAY_2\n  - PAY_3\n  - PAY_4\n  - PAY_5\n  - PAY_6')
print('Variables continuas:')
print('  - AGE\n  - BILL_AMT1\n  - BILL_AMT2\n  - BILL_AMT3\n  - BILL_AMT4\n  - BILL_AMT5\n  - BILL_AMT6\n  - PAY_AMT1\n  - PAY_AMT2\n  - PAY_AMT3\n  - PAY_AMT4\n  - PAY_AMT5\n  - PAY_AMT6')
print('Variable target: default payment next month')

Variables categóricas nominales:
  - SEX
  - MARRIAGE
  - EDUCATION
Variables discretas:
  - PAY_0
  - PAY_2
  - PAY_3
  - PAY_4
  - PAY_5
  - PAY_6
Variables continuas:
  - AGE
  - BILL_AMT1
  - BILL_AMT2
  - BILL_AMT3
  - BILL_AMT4
  - BILL_AMT5
  - BILL_AMT6
  - PAY_AMT1
  - PAY_AMT2
  - PAY_AMT3
  - PAY_AMT4
  - PAY_AMT5
  - PAY_AMT6
Variable target: default payment next month

Número de muestras en los conjuntos de entrenamiento y prueba. En caso aplique, número de muestras por clase.

In [4]:
m = len(data)
ratio_test = 0.1
q_test = int(round(m * ratio_test, 0))
q_train = m - q_test
print('Se tienen {} muestras en total. Un {}% se usará para la evaluación, es decir,\nse entrenarán los modelos con {} registros y con {} se evaluarán.'.format(m, ratio_test * 100, q_train, q_test))

import numpy as np
target_agrupado = data.groupby('default payment next month')['default payment next month'].count()
q_clases_target = np.array(target_agrupado.sort_index(ascending = True))
p_clases_target = q_clases_target / np.sum(q_clases_target) * 100
print('Para el entrenamiento un {}% será de la clase 0 y el otro {}% de la clase 1 (default).'.format(round(p_clases_target[0],1), round(p_clases_target[1],1)))

Se tienen 30000 muestras en total. Un 10.0% se usará para la evaluación, es decir,
se entrenarán los modelos con 27000 registros y con 3000 se evaluarán.
Para el entrenamiento un 77.9% será de la clase 0 y el otro 22.1% de la clase 1 (default).

Estadística descriptiva y visualización de los datos

In [5]:
data.iloc[:,:-1].describe()

            LIMIT_BAL           SEX  ...       PAY_AMT5       PAY_AMT6
count    30000.000000  30000.000000  ...   30000.000000   30000.000000
mean    167484.322667      1.603733  ...    4799.387633    5215.502567
std     129747.661567      0.489129  ...   15278.305679   17777.465775
min      10000.000000      1.000000  ...       0.000000       0.000000
25%      50000.000000      1.000000  ...     252.500000     117.750000
50%     140000.000000      2.000000  ...    1500.000000    1500.000000
75%     240000.000000      2.000000  ...    4031.500000    4000.000000
max    1000000.000000      2.000000  ...  426529.000000  528666.000000

[8 rows x 23 columns]

In [8]:
enc = {1:'male', 2:'female'}
data.iloc[:,1].replace(enc).value_counts()

female    18112
male      11888
Name: SEX, dtype: int64

In [10]:
enc = {1:'graduate school', 2:'university', 3:'high school', 4:'others', 5:'others', 6:'others', 0:'unknown'}
data.iloc[:,2].replace(enc).value_counts()

university         14030
graduate school    10585
high school         4917
others               454
unknown               14
Name: EDUCATION, dtype: int64

In [11]:
enc = {1:'married', 2:'single', 3:'others', 0:'unknown'}
data.iloc[:,3].replace(enc).value_counts()

single     15964
married    13659
others       323
unknown       54
Name: MARRIAGE, dtype: int64