Importamos el dataset

In [1]:
import pandas as pd

data = pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls', header = 1)
data.drop('ID', axis = 1, inplace = True) # Nos deshacemos de la columna ID ya que no es importante

In [2]:
data.head(10)

   LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT5  PAY_AMT6  default payment next month
0      20000    2          2  ...         0         0                           1
1     120000    2          2  ...         0      2000                           1
2      90000    2          2  ...      1000      5000                           0
3      50000    2          2  ...      1069      1000                           0
4      50000    1          2  ...       689       679                           0
5      50000    1          1  ...      1000       800                           0
6     500000    1          1  ...     13750     13770                           0
7     100000    2          2  ...      1687      1542                           0
8     140000    2          3  ...      1000      1000                           0
9      20000    1          3  ...      1122         0                           0

[10 rows x 24 columns]

Número y tipo de características (binarias, discretas, continuas, etc.)

Número de muestras en los conjuntos de entrenamiento y prueba. En caso aplique, número de muestras por clase.

Estadística descriptiva y visualización de los datos